{% extends 'base.html.twig' %}

{% block title %} Сотрудники

{% endblock %}

{% block content %}
    <h1>Сотрудники компании</h1>

    {% for one_employee in employee %}

        <div class="module-page-item">
        <div class="row">
            <div class="col-md-9" style="text-align: center">

                <img class="card-img-top" style="width: 400px" src="{{ vich_uploader_asset(one_employee, 'imageFile') }}"/>

                <p style="font-size: 20px" class="module-page-name"> {{ one_employee.name }}  </p>

                <hr>

            </div>
        </div>






    {% endfor %}



{% endblock %}