{% extends 'base.html.twig' %}

{% block title %}
    Бронирования

{% endblock %}

{% block content %}
    <h1>Текущие брони</h1>

{% for one_booking in booking %}
<div class="module-page-item">
    <div class="row">
        <div class="col-md-9" style="text-align: center; border: 2px black solid">
            <h4>Наименование: </h4>
            <p style="font-size: 20px" class="module-page-name"> {{ one_booking.name }}  </p>
            <hr>
            <h4>Тип уборки: </h4>
            <p style="font-size: 20px" class="module-page-name"> {{ one_booking.cleaningType }}  </p>
            <hr>
            <h4>Адресс: </h4>
            <p style="font-size: 20px" class="module-page-name"> {{ one_booking.address }}  </p>
            <hr>
            <h4>Дата начала уборки: </h4>
            <p style="font-size: 20px" class="module-page-name">
            {{ one_booking.startTime|date('d') }}/
            {{ one_booking.startTime|date("m") }}/
            {{ one_booking.startTime|date('Y') }}
            </p>
            <hr>
            <h4>Количество квадратных метров: </h4>
            <p style="font-size: 20px" class="module-page-name"> {{ one_booking.numberOfSquareMeters }}  </p>

        </div>
    </div>
{% endfor %}




{% endblock %}